@model List<Lusiontech_Management_Software.Models.Bid>

@foreach (var bid in Model)
{
    <tr>
        <td>@bid.SerialNumber</td>
        <td>@bid.Date</td>
        <td>@bid.Link</td>
        <td>
            <button class="btn btn-primary btn-sm edit-button" data-id="@bid.Id" data-link="@bid.Link">Edit</button>
        </td>
    </tr>
}
