@model List<Lusiontech_Management_Software.Models.Bid>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bids</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
          crossorigin="anonymous">
</head>
<body>
    <div class="container mt-5">
        <div class="row">
            <div class="col">
                <h2>Bids</h2>

                <table id="bidsTable" class="table table-bordered">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col" style="width: 10%">Serial Number</th>
                            <th scope="col" style="width: 10%">Date</th>
                            <th scope="col" style="width: 50%">Link</th>
                            <th scope="col" style="width: 5%">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var bid in Model)
                        {
                            <tr>
                                <td>@bid.SerialNumber</td>
                                <td>@bid.Date.ToString("MM-dd-yyyy")</td>
                                <td>@bid.Link</td>
                                <td>
                                    <button class="btn btn-primary btn-sm edit-button" data-id="@bid.Id" data-link="@bid.Link">Edit</button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-md-6">
                <input type="text" id="linkInput" class="form-control" placeholder="Enter your link here">
            </div>
            <div class="col-md-2">
                <button type="button" id="addBidButton" class="btn btn-primary btn-block">Add Bid</button>
            </div>
        </div>
    </div>

    @Html.Partial("_EditModal")

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
            integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8sh+EmmC+qG5gi6Z7uHRvzU8sVc5EliEufeOrb"
            crossorigin="anonymous"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#addBidButton').click(function () {
                var link = $('#linkInput').val().trim(); // Trim whitespace
                if (link) {
                    $.ajax({
                        url: '@Url.Action("AddBid")',
                        type: 'POST',
                        data: { link: link },
                        success: function (data) {
                            $('#bidsTable tbody').html(data);
                            $('#linkInput').val(''); // Clear input after adding bid
                        }
                    });
                } else {
                    alert("Please enter a link.");
                }
            });

            $(document).on('click', '.edit-button', function () {
                var button = $(this); // Button that triggered the modal
                var bidId = button.data('id'); // Extract info from data-* attributes
                var link = button.data('link');

                var modal = $('#editModal');
                modal.find('#editBidId').val(bidId);
                modal.find('#editLinkInput').val(link);

                modal.modal('show');
            });

            $('#saveEditButton').click(function () {
                var bidId = $('#editBidId').val();
                var link = $('#editLinkInput').val().trim(); // Trim whitespace

                if (link) {
                    $.ajax({
                        url: '@Url.Action("EditBid")',
                        type: 'POST',
                        data: { id: bidId, link: link },
                        success: function (data) {
                            $('#bidsTable tbody').html(data);
                            $('#editModal').modal('hide');
                        }
                    });
                } else {
                    alert("Please enter a link.");
                }
            });

            $('#closeButton').click(function () {
                $('#editModal').modal('hide');
            });
        });
    </script>
</body>
</html>
